<div class="wrapper">
  <div class="cal-nav">
    <span class="cal-prev">Prev</span>
    <span class="cal-month">October</span>
    <span class="cal-year">2013</span>
    <span class="cal-next">Next</span>
  </div>

  <div class="until-day-header">
    <div class="until-day-title">Sunday</div>
    <div class="until-day-title">Monday</div>
    <div class="until-day-title">Tuesday</div>
    <div class="until-day-title">Wednesday</div>
    <div class="until-day-title">Thursday</div>
    <div class="until-day-title">Friday</div>
    <div class="until-day-title">Saturday</div>
  </div>

  <div class="until-week">
    <div class="until-day day-inactive">29</div>
    <div class="until-day day-inactive">30</div>
    <div class="until-day">1</div>
    <div class="until-day">2</div>
    <div class="until-day">3</div>
    <div class="until-day">4</div>
    <div class="until-day">5</div>
  </div>

  <div class="until-week">
    <div class="until-day">6</div>
    <div class="until-day">7</div>
    <div class="until-day">8</div>
    <div class="until-day">9</div>
    <div class="until-day">10</div>
    <div class="until-day">11</div>
    <div class="until-day">12</div>
  </div>

  <div class="until-week">
    <div class="until-day">13</div>
    <div class="until-day">14</div>
    <div class="until-day">15</div>
    <div class="until-day">16</div>
    <div class="until-day">17</div>
    <div class="until-day">18</div>
    <div class="until-day">19</div>
  </div>

  <div class="until-week">
    <div class="until-day">20</div>
    <div class="until-day">21</div>
    <div class="until-day">22</div>
    <div class="until-day">23</div>
    <div class="until-day">24</div>
    <div class="until-day">25</div>
    <div class="until-day">26</div>
  </div>

  <div class="until-week">
    <div class="until-day">27</div>
    <div class="until-day">28</div>
    <div class="until-day">29</div>
    <div class="until-day">30</div>
    <div class="until-day">31</div>
    <div class="until-day day-inactive">1</div>
    <div class="until-day day-inactive">2</div>
  </div>
</div>
